<div class="about-us-container container d-none d-md-block">
    <div class="row">
        <div class="col-xs-12 col-md-4">
            <img src="./../images/about-us.png" />
        </div>

        <div class="about-us-text col-xs-12 col-md-8">
            <h1>
                Acerca de Nosostros
            </h1>
            <p>
                Ubicados en la ciudad de Cochabamba - Bolivia, en Imprenta/Grafica Tunari
                nos dedicamos a la produccion de invitaciones para diversos aconteciemientos
                como matrimonios, quince años, festividades religiosas, recepciones funerarias y mas.
            </p>
            <p>
                Entre otras actividades, ofrecemos servicios de impresion para facturas, talonarios,
                y material escolar como hojas de carpeta y archivadores.
            </p>
        </div>
    </div>
</div>