<div class="about-us-container">

    <div style="flex:1">
        <img src="./../images/about-us.png" />
    </div>

    <div class="about-us-text">
        <h1>
            Acerca de Nosostros
        </h1>
        <p>
            Ubicados en la ciudad de Cochabamba - Bolivia, en Imprenta/Grafica Tunari
            nos dedicamos a la produccion de invitaciones para diversos aconteciemientos
            como matrimonios, quince años, festividades religiosas, recepciones funerarias y mas.
        </p>
        <p>
            Entre otras actividades, ofrecemos servicios de impresion para facturas, talonarios,
            y material escolar como hojas de carpeta y archivadores.
        </p>
    </div>
</div>