<div class="contact-us-container container">
    <div class="row">
        <div class="map-container col-md-6 d-none d-md-block">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1903.6409880745412!2d-66.15220850841263!3d-17.398250409584264!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMTfCsDIzJzUzLjciUyA2NsKwMDknMDUuNSJX!5e0!3m2!1sen!2sbo!4v1567717969279!5m2!1sen!2sbo"
                width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>

        </div>

        <div class="col-xs-12 col-md-6" style="display:flex;flex-direction: column">
            <h1>Contactanos...</h1>
            <img style="width:100%" src="./../images/contact-us.jpg" />
            <p>
                Contactanos! puedes realizar tus pedidos en el telefonos:
            </p>
            <p><b>Ubicacion:</b> Av. Aroma entre Lanza y Antezana, lado cajero Banco Mercantil Santa Cruz</p>
            <p style="margin-top: 0px"><b>Telefonos:</b> 4721152 - 76922580 (Whatsapp)</p>
            <p style="margin-top: 0px"><b>Facebook:</b> <a target="_blank" rel="noopener noreferrer"
                    href="https://www.facebook.com/Librería-AD-203073123895831/">Imprenta Tunari</a> </p>
        </div>

    </div>
</div>