<script>

    $(".card").hover(function (e) {
        $(this).addClass('animated bounce');
    }, function (e) {
        $(this).removeClass('animated bounce');
    });
</script>
<div class="container" style="padding: 50px 0px">
    <div class="row">
        <div class="col-xs-12 col-md-4">
            <h1>Nuestros Productos</h1>
            <p>
                Entre nuestros principales productos y servicios presentamos nuestros
                mostrarios de invitaciones para distintas festividades religiosas:
            </p>
        </div>
        <div class="col-xs-12 col-md-8 container">
            <div class="row col-xs-12" style="justify-content: space-around">
                <div class="card col-xs-12 col-sm-6" onclick="window.open('http://tunari.herokuapp.com?user=GWLyn2x3h&categoryId=5c2e5d1e58e9fa00176fcfef&typeId=5c2e5d3158e9fa00176fcff0')">
                    <img src="../images/mementos.jpg" alt="Avatar" style="width:100%">
                    <div class="card-container">
                        <h4><b>Mostrario de Mementos</b></h4>
                        <p>Invitaciones para funerales, entierros, 9 dias y mas...</p>
                    </div>
                </div>
                <div class="card col-xs-12 col-sm-6" onclick="window.open('http://tunari.herokuapp.com?user=GWLyn2x3h&categoryId=5c2e5d1e58e9fa00176fcfef&typeId=5c2e5d5958e9fa00176fcff1')">
                    <img src="../images/santos.svg" alt="Avatar" style="width:100%">
                    <div class="card-container">
                        <h4><b>Mostrario de Santos</b></h4>
                        <p>Festividades Religiosas, San Benito, San Jose, Santiago ...</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="container">




</div>
